---
import Layout from '../layouts/page.astro';
import img404 from '../assets/404.avif';
import { Image } from 'astro:assets';
---

<Layout>
	<div class="not-found">
		<h1>Page not found (404)</h1>
		<Image
			src={img404}
			alt="an empty plate with a frowny face drawn on it"
			format="avif"
			width={img404.width}
			height={img404.height}
			class="not-found-img"
		/>
		<p>Looks like the page you requested doesn’t exist.</p>
		<p><a href="/">&larr; back home</a></p>
	</div>
</Layout>

<style>
	.not-found {
		margin: 0 auto;
		max-width: 640px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.not-found h1 {
		font-size: 2rem;
	}

	.not-found-img {
		display: block;
		margin-block: 1rem;
		object-fit: contain;
		max-width: 100%;
		aspect-ratio: 16/9;
	}
</style>
